.sidebar{
    background-color: var(--primary-white);
    height: 100vh;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    max-width: 283px;
    padding: 40px 30px;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.sidebar-content{
    display: flex;
    flex-direction: column;
    gap: 20px;

    a{
        text-decoration: none;
    }
}