@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'AvenirNextRegular';
    src: local('AvenirNextRegular'),
         url('../fonts/AvenirNextLTPro-Regular.otf') format("opentype"),
}

@font-face {
    font-family: 'AvenirNextBold';
    src: local('AvenirNextBold'),
         url('../fonts/AvenirNextLTPro-Bold.otf') format("opentype"),
}

@font-face {
    font-family: 'AvenirNextLT';
    src: local('AvenirNextLT'),
         url('../fonts/AvenirNextLTPro-It.otf') format("opentype"),
}
html,body{
    font-family: 'Work Sans', sans-serif;
}