@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'AvenirNextRegular';
    src: local('AvenirNextRegular'),
         url('../fonts/AvenirNextLTPro-Regular.otf') format("opentype"),
}

@font-face {
    font-family: 'AvenirNextBold';
    src: local('AvenirNextBold'),
         url('../fonts/AvenirNextLTPro-Bold.otf') format("opentype"),
}

@font-face {
    font-family: 'AvenirNextLT';
    src: local('AvenirNextLT'),
         url('../fonts/AvenirNextLTPro-It.otf') format("opentype"),
}
html,body{
    font-family: 'Work Sans', sans-serif;
}

html::-webkit-scrollbar {
    display: none;
}

body{
    height: 100vh;
    width: 100%;
}

.flex{
    display: flex;
}

.gap-4{
    gap: 1rem
}

.gap-6{
    gap: 1rem
}

.mb-4{
    margin-bottom: 1rem;
}

.mt-4{
    margin-top: 1rem;
}

.mt-6{
    margin-top: 1.5rem;
}

.main-page{
    display: grid;
    grid-template-columns: 283px auto;
    width: 100%;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.main-container{
    padding: 60px;
    overflow-y: scroll;
}

.contain {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.main-content{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: column;
}

.page-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--primary-dark-blue);
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px;
    width: 100%;
    margin-top: 45px
}

.table-container{
    margin-top: 35px;
    display: block;
    width: 100%;
    overflow-x: auto;
}

.shadow-box{
    background-color: var(--primary-white);
    padding: 15px 20px;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .main-page{
        grid-template-columns: auto;
    }
    .main-container{
        padding: 20px;
    }

    .contain{
        padding: 0 15px;
    }
    .card-container{
        grid-template-columns: 2fr 2fr;
    }
}

@media (max-width: 425px) {
    .card-container{
        flex-wrap: wrap;
        margin: auto;
        .card{
            width: 100%;
        }
    }
    .card-container{
        grid-template-columns: 1fr;
    }
}
